@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand&display=swap');

:root {
  --color-dark: 32 26 41;
  --color-light: 236 236 236;
  --color-primary: 71 160 180;
  --color-secondary: 228 156 95;
  --sans-font: 'Inter', sans-serif;
  --serif-font: 'PT Serif', serif;
  --logo-font: 'Quicksand', sans-serif;
  font-family: var(--logo-font);
}

body {
  color: rgb(var(--color-light));
  background: rgb(32, 26, 41);
  background: radial-gradient(
    circle,
    rgba(32, 26, 41, 1) 50%,
    rgba(23, 25, 38, 1) 100%
  );
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

article {
  font-family: var(--serif-font);
  border-bottom: 1px solid rgb(var(--color-light) / 0.6);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

article:last-child {
  border-bottom: none;
}

article h1,
article h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

article h2 a {
  text-decoration: none;
  color: rgb(var(--color-secondary));
}

article time {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: rgb(var(--color-light));
  margin-bottom: 1rem;
  font-family: var(--sans-font);
}

article p {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
