.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.list {
  display: flex;
}

.list li {
  margin-right: 1.5rem;
}

.list li:last-child {
  margin-right: 0;
}

.list li a:hover svg {
  fill: rgb(var(--color-primary) / 1);
}

.list li svg {
  fill: rgb(var(--color-light) / 1);
  width: 2rem;
}
