<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joe Webber | Strategic Tech Leader</title>
  <meta name="description" content="Joe Webber is a Strategic Tech Leader with over 20 years of experience.">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="../styles/global.css">
</head>

<body>
  <div class="fixedContainer">
    {{header_content}}
    <main class="main">
      <article>
        {{page_content}}
      </article>
    </main>
    {{footer_content}}
  </div>
</body>

</html>